rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /categoryList/{categoryItem} {
      allow read, write: if true;
    }
    match /memoList/{memoItem} {
      allow read, write: if true;
    }
    match /userList/{userItem} {
      allow read, write: if true;
    }
  }
}